.navbar .brand,
.navbar .nav > li > a {
    padding: 10px 7px 10px;
}
div.page-header.page-title {
    padding: 15px 15px 15px;
    margin: -20px -20px 20px;
    font-size: 20px;
}
div.page-header.page-title a {
    text-decoration: none;
}
div .pull-right {
    margin: 0;
}
div .pull-right select {
    margin-top: 10px;
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.title {
    text-align:center
}
.spinner {
    display: none;
    background: url('../img/loader.gif') 50% 50% no-repeat;
    height: 40px;
}
.spinner-inline {
    display: inline-block;
    width: 40px;
}
.popover {
    width: 575px;
}
.thumbnail {
    background: #fff;
}
table th.tablesorter-header {
    cursor: pointer;
}
[class^="icon-"], [class*=" icon-"],
[class^="icon-"]:hover, [class*=" icon-"]:hover{
    text-decoration: none;
}
.icon-white {
    color:white;
}
.icon-black {
    color:black;
}

.content {
    margin: -20px;
    padding: 20px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.input-short input[type="text"] {
   height: 10px;
   font-size: 10px;
   line-height: 15px;
}

.modal-fanart {
    background: #fff top center no-repeat;
    background-size: 100%;
}
.modal .movie-poster {
    height: 200px;
    width: 133px;
}
.modal .actor-thumb {
    height: 125px;
    width: 83px;
}
.modal .modal-movieinfo {
    margin-left: 180px;
    width: 770px;
}
.modal .modal-body-middle-right {
    margin-left: 180px;
    width: 770px;
}

.modal .modal-body-middle-bottom {
    margin-left: 180px;
    width: 770px;
}

.modal .modal-body-middle-left {
    width: 150px;
}

.modal .modal-body-bottom {
    margin-top: 15px;
}

.modal .modal-movie-poster {
    width: 150px;
}
.modal .modal-info-item {
    width: 350px;
}
.modal-star-rating {
    margin-left: 30px;
    margin-right: auto;
}
.modal .modal-youtube {
    border: 0;
    height: 425px;
    width: 100%;
    overflow: hidden;
}
.modal-h3 {
    //color: #fff;
}

.spacer-h10 {
    height: 5px;
    width: 10px;
}   
.modal {
    position: fixed;
    top: 0px;
    left: 300px;
    width: 1000px;
    height: 530px;
}
.modal-body {
    width: 970px;
    height: 500px;
}
.modal-codec {
    border: 0;
    height: 20px;
}
.modal-aspect {
    border: 0;
    height: 20px;
}
.modal-resolution {
    border: 0;
    height: 20px;
}
.modal-mpaa {
    border: 0;
    height: 20px;
}
.modal-source {
    border: 0;
    height: 20px;
}

@media (min-width: 980px) {
    .content {
        margin: 0 0 20px 0;
        padding-top: 60px;
    }
}

#query {
    margin-top: 10px !important;
}


